<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

  <header class="site-header">
  <a class="site-title" href="/">VoidGame Wiki</a>

  <nav class="site-nav">

  <a href="/"
     {% if page.url == "/" %}class="active"{% endif %}>
    Главная
  </a>

  <a href="/entities/"
     {% if page.url contains "/entities" or page.url == "/etol/" or page.url == "/rasima/" or page.url == "/darkness/" or page.url == "/calamity/" or page.url == "/pardimal/" or page.url == "/beast/" or page.url == "/killer/" or page.url == "/valotile/" %}class="active"{% endif %}>
    Сущности
  </a>

</nav>
  </header>

  <main>
    {{ content }}
  </main>


</body>
</html>